@model WebClinica.Models.Citas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Content.cshtml";
    List<SelectListItem> ListaPacientes = ViewBag.ListaPacientes;
    List<SelectListItem> ListaMedicos = ViewBag.ListaMedicos;
    List<SelectListItem> ListaEspecialidades = ViewBag.ListaEspecialidades;
    String Fecha = @ViewBag.FechaCita;
}

<head>
    <title>Detalle cita</title>
</head>
<partial name="_Menu" />
<div class="container contenedorPrincipalCreate">
    <main class="pb-3" role="main">
        <div class="row">
            <form asp-action="Details" method="post">
                <div class="container-fluid">
                    <fieldset>
                        <legend class="text-center header">Detalle de cita</legend>
                        <br class="brDivisor" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Paciente" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="PacienteId" asp-items="@ListaPacientes" class="form-control" disabled></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Medico" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="MedicoId" asp-items="@ListaMedicos" class="form-control" disabled></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="FechaCita" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" asp-for="FechaCita" class="form-control" disabled/>
                            </div>
                            <span asp-validation-for="FechaCita" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Diagnostico" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Diagnostico" class="form-control" placeholder="Diagnostico" disabled/>
                            </div>
                            <span asp-validation-for="Diagnostico" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 text-align-right">
                                <label asp-for="Especialidad" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="EspecialidadId" asp-items="@ListaEspecialidades" class="form-control" disabled></select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row contenedorBotonesCreate">
                        <div class="col-md-4">
                            <a class="btn btn-info btn-lg botonesRegresar" id="regresar" asp-action="Index">Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<partial name="_EndPag" />

